spawn-sh-at-startup "waybar -c $HOME/.config/waybar/Niri/config.jsonc -s $HOME/.config/waybar/style.css &"
spawn-sh-at-startup "swaybg -i ~/Wallpapers/arch-nord-dark.png -m fill &" //"bash $HOME/.config/Scripts/random_wall_on_home.sh"
spawn-at-startup "kitty"
spawn-at-startup "kdeconnect-indicator"
spawn-at-startup "mako"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
spawn-sh-at-startup "swayidle -w timeout 120 'systemctl suspend' before-sleep 'hyprlock'"
