include "Modules/Animations.kdl"
include "Modules/Input.kdl"
include "Modules/Outputs.kdl"
include "Modules/Overview.kdl"
include "Modules/Rules.kdl"
include "Modules/Blur.kdl"
include "Modules/Cursor.kdl"
include "Modules/Layout.kdl"
include "Modules/Autostart.kdl"
include "Modules/Keybinds.kdl"
include "Modules/Others.kdl"
